{% extends "base.html.twig" %}

{% block body %}
    <div class="textColorWhite">
        <h1> Success</h1>
        <p>Your request has been submitted. You can access it by clicking on <a href="{{ link }}">this</a> link.</p>
    </div>

    <img alt="Responsive image" class="img-fluid" src="courrier2.png" style="width: 350px;">

    <img alt="Responsive image" class="img-fluid" src="Web_cyber_security_shutterstock_1041066733.jpg" style="width: 580px;">
{% endblock %}