{% extends 'base2.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="RegisterWhite2">
    Registered 
</div>

<div class="littleMargin">
    <img alt="Responsive image" class="img-fluid" src="validation.png" style="width: 125px;">
</div>


<div class="bigMargin">
    <img alt="Responsive image" class="img-fluid" src="imageVerte4.PNG" style="width: 588px;">
</div>



{% endblock %}