{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="p-3 mb-2 bg-info text-white">
    <p>You need to be an ADMIN to register</p>
</div>
<p></p>
<a href="/login?ref=/registration" title="" class="item"><button type="button" class="btn btn-outline-info">Connect as ADMIN</button></a>

{% endblock %}