{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<p></p>

<div class="RegisterWhite">
You need to be an ADMIN to register

    <p></p>
    <p></p>
</div>
<div class="bigMargin">
    <a href="/login?ref=/registration" title="" class="item"><button type="button" class="myButton">Connect as ADMIN</button></a>
</div>
<div class ="bigMargin">
    <img alt="Responsive image" class="img-fluid" src="Web_cyber_security_shutterstock_1041066733.jpg" style="width: 588px;">
</div>

{% endblock %}