{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}

{% block body %}

                <h1 class="textColorWhite">LOCKED</h1>
                <div class="essai">
                        <img src="Web_cyber_security_shutterstock_1041066733.jpg" class="img-fluid" alt="Responsive image" style="width: 900px;">
                </div>
                <p>retest</p>


{% endblock %}
