{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div>
<p></p>
<p></p>
<p></p>
        Welcome to WebHole    
<p></p>
<p></p>
</div>

<div>

<a href="/login" title="" class="item"><button type="button" class="btn btn-outline-info">Login</button></a>

</div>
{% endblock %}


{# <a href="/" title="" class="item"><button type="button" class="btn btn-primary">Login</button></a> #}