{% extends 'base2.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h1 class="textColorWhite">{{ message }}</h1>

    <form class="form-signin" role="form" method="post" action="/registration">
        <h4 class="form-signin-heading"></h4>
        <input type="text" class="form-control" name="id" placeholder="id" required autofocus>  
        <p></p>  
        <input type="password" class="form-control" name="password" placeholder="password" required>
        <p></p>
        <input type="text" class="form-control" name="creditCardNumber" placeholder="creditCardNumber" required autofocus>
        <p></p>
        <input type="text" class="form-control" name="role" placeholder="role" required autofocus>
        <p></p>
        <input type="text" class="form-control" name="firstname" placeholder="firstname" required autofocus>
        <p></p>
        <button class="myButton" type="submit" name="login">Submit</button>
    </form>

    <div class="littleMargin">
        <img alt="Responsive image" class="img-fluid" src="imageVerte4.PNG" style="width: 588px;">
    </div>

{% endblock %}
